<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.android.installer.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="KitchenSink"/>
<stringAttribute key="abi" value="armeabi"/>
<stringAttribute key="device-id" value="1554818e"/>
<stringAttribute key="key_password" value=""/>
<stringAttribute key="keystore_alias" value=""/>
<stringAttribute key="keystore_password" value=""/>
<stringAttribute key="keystore_path" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/KitchenSink"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.mobile.ui.androidLogLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="2.3.3"/>
</launchConfiguration>
