<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<booleanAttribute key="ATTR_CLEAN_BEFORE_LAUNCH" value="false"/>
<stringAttribute key="ATTR_LOG_LEVEL" value="Info"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="AccelBench"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AccelBench"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<booleanAttribute key="retina_display" value="false"/>
<stringAttribute key="sdk_version" value="6.1"/>
<stringAttribute key="sim_device" value="iPhone"/>
<stringAttribute key="simulator_debug_config" value="192.168.53.163:65327"/>
<stringAttribute key="simulator_version" value="6.1"/>
</launchConfiguration>
